# Do not publish the following files via composer:
.github/ export-ignore
.husky/ export-ignore
docs/ export-ignore
src/ export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
.prettierrc export-ignore
composer.lock export-ignore
psalm.xml.dist export-ignore
eslint.config.mjs export-ignore
i18n.json export-ignore
i18n.lock export-ignore
jsconfig.json export-ignore
package.json export-ignore
pnpm-lock.yaml export-ignore
pnpm-workspace.yaml export-ignore
