.df-field {
	padding: var(--spacing-3) var(--spacing-4);
	height: 100%;
}

.k-header-buttons {
	.k-panel[data-template="submission"] &,
	.k-panel[data-template="forms"] & {
		display: none;
	}
}

.k-writer span[data-dreamform-field] {
	background: var(--color-purple-200);
	color: var(--color-purple-700);
	padding: var(--spacing-1) var(--spacing-2);
	border-radius: var(--rounded-sm);
	display: inline-flex;
	gap: 0.25rem;
	white-space: nowrap;
	align-items: center;
	font-size: 0.875em;
	line-height: 1;
	cursor: pointer;
	margin-inline: 2px;
	font-weight: 500;
	transition: all 0.2s;

	&:hover {
		background: var(--color-purple-300);
		color: var(--color-purple-800);
	}
}

[data-template="form"] {
	:where(.k-field-name-successmessage, .k-field-name-fieldtemplate) .k-writer-input .k-toolbar-button:first-child {
		padding-inline: var(--spacing-3);
		--button-width: auto;
		aspect-ratio: auto;

		&::after {
			content: attr(title);
		}
	}
}
